<div
  style="margin-top: 20%; text-align: center; padding: 50px; font-size: 40px"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  <strong>Error!</strong> <%= message %>
</div>
